html {
  scroll-behavior: smooth;
}
body {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  font-family: "stickman", sans-serif;
}

section {
  display: flex;
  margin: auto;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

input {
  display: flex;
  margin-bottom: 1rem;
  min-width: 100px;
}

p {
  font-size: 40px;
}

h1 {
  font-size: 80px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleDiv {
  max-width: fit-content;
  font-size: clamp(1.5rem, 5vw, 2.75rem);
  text-align: center;
  font-family: "stickman", sans-serif;
  font-weight: bold;
  color: black;
  line-height: 2.5em;
  margin-bottom: 0.25em;
}

.submit {
  margin: auto;
  margin-top: 1rem;
  background-color: white;
}
